---
layout: default
---
<div class="post">
  <div class="container main">
    <div class="row">
      <header>
        <center><span itemprop="name"><h1>{{ page.title }}</h1></span></center>
      </header>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8 offset-md-1">
        <p>Move along, nothing to see here.</p>
        <p>(There will be soon, though.)</p>

        <!-- <ul class="bloglist">
          {% for post in site.posts %}
            <li>
              <hr>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <p>{{ post.date | date: "%-d %b %Y" }}</p>
              {{ post.excerpt }}
            </li>
          {% endfor %}
          <a href="/posts">Link to blog list</a>
        </ul> -->

       </div>
       <div class="col-md-2" height: 400px;"></div>
     </div>
  </div>
</div>
